*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Inter, sans-serif;
}

.navbar{
  display: flex;
  justify-content: center;
  background-color: #F55A5A;
  color: #FFFFFF;
  align-items: center;
  gap: 7px;
  height: 55px;
  
}

.nav-header{
  font-size: 14.46px;
  font-weight: 500;
}

.icon{
  font-size: 24px;
}

.card-container img{
    width: 124px;
    height: 168px;
}

.card-container{
  width: 471px;
  margin: 36px auto;
  display: flex;
  gap: 19px;
  align-items: center;
  
}

.card-icon{
  color: #F55A5A;
  font-size: 10px;
}

.country{
  font-size: 10.24px;
  font-weight: 400;
  margin-left: 4px;
}

.google-maps{
  font-size: 10.24px;
  color: #918E9B;
  text-decoration: underline;
  margin-left: 12px;
  cursor: pointer;
}

.date{
  font-weight: bold;
  font-size: 10.24px;
  margin-top: 15px;
}

.desc{
  font-size: 10.24px;
  color: #2B283A;
  margin-top: 9px;
  line-height: 150%;
}